@charset "utf-8";
*{margin: 0;padding: 0;}
			body{
				-moz-user-select: none;
				-ms-touch-select: none;
				-webkit-user-select: none;
			}
			.box{
				width:600px;
				height: 500px;
				border: 1px solid black;
				margin: 40px auto;
				position: relative;
			}
			.prev{
				position: absolute;
				left: 0;
				top: 0;
				width: 30px;
				height: 100%;
				font-size: 30px;
				line-height: 500px;
				background: silver;
				color: white;
				cursor: pointer;
			}
			.prev:hover{
				background: black;
				color: white;
			}
			.next{
				position: absolute;
				right: 0;
				top: 0;
				width: 30px;
				height: 100%;
				background: silver;
				font-size: 30px;
				color: white;
				cursor: pointer;
				line-height: 500px;
			}
			.next:hover{
				background: black;
				color: white;
			}
			.box h3{
				display: block;
				margin: 20px auto;
				width: 100%;
				
				text-align: center;
			}
			.box h3 span{
				display: inline-block;
				width: 10px;
				margin: 0 auto;
			}
			.box .day{
				width: 500px;
				margin: 50px auto;
				text-align: center;

			}
			.box .day span{
				display: inline-block;
				width: 70px;
				text-align: center;
			}
			.box .ri{
				width: 500px;
				text-align: center;
				margin: 0 auto;
			}
			.box .ri ul li{
				list-style: none;
				width: 70px;
				text-align: center;
				float: left;
			}